.row {
  display: block;
  margin: 0px;
  padding: 0px;
}
.cell {
  display: inline-block;
  margin: 1px;
  margin-bottom: 0px;
  border: 2px black solid;
  height: 15px;
  width: 15px;
}
.blank {
  background: #666;
}
.blank:hover {
  background: #aaa;
}
.flagged {
  background: #6495ED;
}
.flagged:hover {
  background: #A4C5FF;
}

.number {
  background: white;
}
.bomb {
  background: red;
}
